<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="LoginUrl" value="https://login.xero.com"/>
    <add key="CreateRepeatingInvoiceUrl" value="https://go.xero.com/RepeatTransactions/Edit.aspx?type=AR"/>
    <add key="LoginEmail" value=""/>
    <add key="LoginPassword" value=""/>
    <add key="LoginEmailFieldId" value="email"/>
    <add key="LoginPasswordFieldId" value="password"/>
    <add key="DueDateDayFieldId" value="DueDateDay"/>
    <add key="StartDateFieldId" value="StartDate"/>
    <add key="CustomerFieldXPath" value="/html/body/form/div[2]/div[2]/div/div[2]/div[3]/div/div/div[1]/div[1]/div/input[2]"/>
    <add key="DescriptionXPath" value="/html/body/form/div[2]/div[2]/div/div[2]/div[3]/div/div/div[3]/div/div/div/div/div/div[1]/div[2]/div/div[1]/table/tbody/tr/td[3]/div"/>
    <add key="DescriptionPopupTextboxXPath" value="/html/body/form/div[2]/div[2]/div/div[2]/div[3]/div/div/div[3]/div/div/div/div/div/div[1]/div[2]/div[2]/textarea"/>
    <add key="SaveButtonXPath" value="/html/body/form/div[2]/div[2]/div/div[3]/div/span[1]/button"/>
    <add key="EditMessageToAddress" value="/html/body/div[9]/div[2]/div[1]/div/div/div/form/div/div/div[1]/div/div[3]/input"/>
    <add key="ApprovedForSendingEmailTo" value="malcolmrg@gmail.com"/>
    <add key="ApprovedForSendingSaveButtonXPath" value="/html/body/div[9]/div[2]/div[2]/div/div/div/div[1]/table/tbody/tr/td[2]/table/tbody/tr/td[1]/table/tbody/tr/td[1]/em"/>
    <add key="saveAsDraftFieldId" value="saveAsDraft"/>
    <add key="saveAsAutoApprovedFieldId" value="saveAsAutoApproved"/>
    <add key="saveAsAutoApprovedAndEmailFieldId" value="saveAsAutoApprovedAndEmail"/>
  </appSettings>
</configuration>